{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block contenu %}
    <div class="text-center">
        <h1 id="title">Créer un compte</h1>
    </div>
    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col-3">
            {{ form_row(registrationForm.pseudo) }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(registrationForm.nom) }}
        </div>
        <div class="col-4 offset-2">
            {{ form_row(registrationForm.prenom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(registrationForm.telephone) }}
        </div>
        <div class="col-4 offset-2">
            {{ form_row(registrationForm.mail) }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(registrationForm.sites_no_site,{
                label: 'Site'
            }) }}
        </div>
        <div class="col-4 offset-2">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-3 offset-2" id="condition">
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Accepter les conditions générales'
            }) }}
        </div>
        <div class="col-1 offest-1">
            <input class="btn btn-primary offset-1 btn-lg" id="submit" type="submit" value="S'inscrire">
            {{ form_end(registrationForm) }}
        </div>
    </div>


{% endblock %}
