{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block contenu %}
    <div class="text-end">
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        <p>Participant : {{ user.pseudo }}</p>
    </div>
    <h5>Filtrer les sorties</h5>
    <form class="row">
        <div class="col-4">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Site</label>
                <select class="form-select" name="sites" id="sites">
                    <option>Choisissez le site ...</option>
                    {% for site in sites %}
                        <option value="{{ site.id }}">{{ site.nom }} </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Le nom de la sortie contient : </label>
                    <input type="text" class="form-control" id="inputChercher" name="chercher"
                           aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div>
                <label>Entre</label>
                <input type="date">
                <label>Et</label>
                <input type="date">
            </div>
        </div>
        <div class="col-3 offset-1 ">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Checked1" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Sorties dont je suis l'organisateur/trice
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Checked2" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Sorties auxquelles je suis inscrit/e
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Checked3" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Sorties auxquelles je ne suis pas inscrit/e
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Checked4">
                <label class="form-check-label" for="flexCheckDefault">
                    Sorties passées
                </label>
            </div>
        </div>
        <div class="col-3 offset-1">
            <button onclick="rechercher()" class="btn btn-primary" type="submit">Rechercher</button>
        </div>
    </form>
    <div class="row">
        <div class="table-wrapper">

            <table class="table table-bordered table-striped mb-1">
                <thead>
                <tr>
                    <th scope="col-2">Nom de la sortie</th>
                    <th scope="col-2">Date de la sortie</th>
                    <th scope="col-2">Clôture</th>
                    <th scope="col-2">inscrits/place</th>
                    <th scope="col-1">Etat</th>
                    <th scope="col-1">Inscrit</th>
                    <th scope="col-2">Organisateur</th>
                    <th scope="col-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.datedebut|date("d M Y H:i") }}</td>
                        <td>{{ sortie.datecloture|date("d M Y") }}</td>
                        <td>{{ sortie.nbinscriptionsmax }}</td>
                        <td>{{ sortie.etatsnoetat }}</td>
                        <td>Inscrit</td>
                        <td>
                            <a href="{{ path('app_profilDetail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>
                        <td>
                            {% if (sortie.organisateur.pseudo == user.pseudo) %}
                                <button type="button" class="btn btn-danger"><a id="link" href="{{ path('app_deleteSortie', {'id': sortie.id}) }}">Supprimer</a></button>
                            {% endif %}
                            {% if sortie.organisateur.pseudo!=user.pseudo %}
                                <button type="button" class="btn btn-success">S'inscrire</button>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="{{ asset('/JavaScript/home.js') }}">
        </script>
    </div>
    <div class="col-3 offset-1">
        <a href="{{ path('add') }}" class="btn btn-lg btn-primary" role="button" id="creation">Créer une sortie</a>
    </div>

{% endblock %}
