{% extends 'base.html.twig' %}

{% block title %}Modifier mon Profil{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="text-center" id="title">
            <h1>Modifier mon Profil</h1>
        </div>
        <form action="modifierProfil" method="post">
            <div class="row offset-1">
                <div class="col-4">
                <p><label for="pseudo">Pseudo : </label> <input class="form-control" type="text" placeholder="{{ user.pseudo }}" name="pseudo"></p>
                </div>
            </div>
            <div class="row offset-1">
                <div class="col-4">
                    <p><label for="nom">Nom : </label> <input class="form-control" type="text" placeholder="{{ user.nom }}" name="nom"></p>
                </div>
                <div class="col-4 offset-2">
                    <p><label for="prenom">Prénom : </label> <input class="form-control" type="text" placeholder="{{ user.prenom }}" name="prenom"></p>
                </div>
            </div>
            <div class="row offset-1">
                <div class="col-4">
                    <p><label for="numTel">N° de Téléphone : </label> <input class="form-control" type="text" placeholder="{{ user.telephone }}" name="numTel"></p>
                </div>
                <div class="col-4 offset-2">
                    <p><label for="email">E-mail : </label> <input class="form-control" type="email" placeholder="{{ user.mail }}" name="email"></p>
                </div>
            </div>
            <div class="row offset-1">
                <div class="col-4">
                    <p><label for="password" >Mot de passe : </label> <input class="form-control" type="password" name="password"></p>
                </div>
                <div class="col-4 offset-2">
                    <p><label for="newpassword">Nouveau mot de passe : </label> <input class="form-control" type="password" name="newpassword"></p>
                </div>
            </div>
            <div class="row offset-1">
                <div class="col-4">
                <p><label for="site">Site : </label> <select class="form-control" name="site">
                        <option selected="selected">{{ site.nom }}</option>
                        {% for value in all %}
                            <option>{{ value.nom }}</option>
                        {% endfor %}
                    </select></p>
                </div>
            </div>

            {{ error }}

            <div class="row offset-1">
                <div class="col offset-1">
                    <button type="submit" id="submit" class="btn btn-primary btn-lg" name="modifier">Modifier</button>
                </div>
                <div class="col offset-1">
                    <button class="btn btn-primary btn-lg"><a id="link" href="{{ path('app_profil') }}">Retour à mon profil</a></button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}