{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block contenu %}
    <div class="text-center">
        <h1>Mon Profil</h1>
    </div>
    Pseudo : {{ user.pseudo }}<br>
    Nom : {{ user.nom }}<br>
    Prénom : {{ user.prenom }}<br>
    N° de Téléphone : {{ user.telephone }}<br>
    E-mail : {{ user.mail }}<br>
    Site : {{ site.nom }}<br>

    {% if pseudo == user.pseudo %}
    <a href="{{ path('app_modifierProfil') }}">Modifier</a>
    {% endif %}

{% endblock %}