{% extends 'base.html.twig' %}

{% block title %}Creation de sortie !{% endblock %}

{% block contenu %}

    {{ form_start(formSortie) }}
    <p>{{ form_row(formSortie.nom, {label: "Nom de la sortie :"}) }}</p>
    <p>{{ form_row(formSortie.datedebut, {label: "Date et heure de la sortie :"}) }}</p>
    <p>{{ form_row(formSortie.datecloture, {label: "Date limite d'inscription :"}) }}</p>
    <p>{{ form_row(formSortie.nbinscriptionsmax, {label: 'Nombre de places :'}) }}</p>
    <p>{{ form_row(formSortie.duree, {label: "Durée :"}) }} minutes</p>
    <p>{{ form_row(formSortie.descriptioninfos, {label: 'Description et infos :'}) }}</p>
    <p><label>Ville organisatrice :</label>{{ orga.sitesnosite.nom }}</p>
    <div><label>Ville :</label>
        <select name="villes" id="villes">
            {% for ville in villes %}
            <option value="{{ ville.codepostal }}">{{ ville.nomville }}</option>
            {% endfor %}
        </select></div>
    <p>{{ form_row(formSortie.lieux_no_lieu, {label: "Lieu : "}) }}</p>
    <p><label>Rue :</label></p>
    <div><label>Code Postal :</label><p id="codePostal"></p></div>
    <p><label>Latitude :</label>TODO</p>
    <p><label>Longitude :</label>TODO</p>
    <input type="submit" value="Enregistrer">
    <input type="submit" value="Publiez la sortie">
    <input type="submit" value="Annuler">
    {{ form_end(formSortie) }}

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $("#villes").change(function(){
            let cp = $(this).val();
            // $.get("/get-code-p/"+id, function(data, status){
            //     //alert("Data: " + data + "\nStatus: " + status);
            //     var res=JSON.parse(data);
            // });
            $("#codePostal").html(cp);
        });
    });
</script>
{% endblock %}