{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block contenu %}

<h1>Afficher une sortie</h1>
    <p><label>Nom de la sortie : </label>{{ sortie.nom }}</p>
    <p><label>Date et heure de la sortie : </label>{{ sortie.datedebut|date("d M Y H:i") }}</p>
    <p><label>Date limite d'inscription : </label>{{ sortie.datecloture|date("d M Y H:i") }}</p>
    <p><label>Nombre de places : </label>{{ sortie.nbinscriptionsmax }}</p>
    <p><label>Durée : </label>{{ sortie.duree }} minutes</p>
    <p><label>Description et infos : </label>{{ sortie.descriptioninfos }}</p>
    <p><label>Ville organisatrice : </label></p>
    <p><label>Lieu : </label>{{ lieu.nomlieu }}</p>
    <p><label>Rue : </label>{{ lieu.rue }}</p>
    <p><label>Code postal : </label>{{ ville.codepostal }}</p>
    <p><label>latitude : </label>{{ lieu.latitude }}</p>
    <p><label>longitude : </label>{{ lieu.longitude }}</p>

{% endblock %}
